
body {
    margin: 0;
    padding: 0;
  }
  
  
  .hover-text-color {
    color: #fff;
  }
  
  .hover-text-color:hover {
    color: #ccc;
  }
  
  header {
      background-color: transparent;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      transition: background-color 0.75s ease; /* Thời gian và kiểu chuyển đổi */
    }
    
    header.navbar-scrolled {
      background-color: #393e46aa;
    }
  
    .avatar {
      border: 2px solid #00adb5;
      border-radius: 50%;
    }